extends layout

block content
    .main.container
        div: form(method='post', class='form-vertical')
            fieldset
                legend: strong.text-info Login page

                if errors
                    div.alert.alert-danger Missing username or password

                else
                    if success
                        div.alert.alert-success You are now connected

                div.form-group
                    label Username:
                    input.form-control(name='email', value=username, autofocus)

                div.form-group
                    label Password:
                    input.form-control(name='password', type='password')

                div.form-actions
                    input.btn.btn-primary(type='submit', value='Login')
